<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOJA DE ROUPAS NASC</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header class="wave-container">
        <div class="logo-search-container">
            <div class="logo">
                <img src="../img/logo.PNG" alt="Logo" width="250">
            </div>
            <h1>Loja de Roupas do João Nascimento</h1>
            <div class="search">
                <form action="#" method="get">
                    <input type="text" name="search" id="search" placeholder="Pesquisar...">
                    <button type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </header>
    
    <nav>
        <a href="#" id="link-inicial">INÍCIO</a>
        <a href="#" id="link-produtos">PRODUTOS</a>
        <a href="#" id="link-carrinho">CARRINHO</a>
        <a href="#" id="link-creditos">CRÉDITOS</a>
    </nav>
    
    <main id="main-content">
            
    </main>

    <!--div id="carrinho-sidebar">
            
    </div-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/scripts.js"></script>
</body>
</html>
